<script src="vendors/jquery-1.9.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	    <script src="vendors/layer/layer.js"></script>
	    <script src="assets/common/dyService.js"></script>
	    <script src="assets/common/dyDirective.js"></script>
        <script src="assets/scripts.js"></script>
        <script>
        $(function() {
            // Easy pie charts
            // $('.chart').easyPieChart({animate: 1000});
        });
        </script>