<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Bootstrap dataTables with Toolbar</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
               <div class="table-toolbar">
                  <div class="btn-group" ng-repeat="btn in formStruct.tools">
                     <a ng-href="btn.url"><button class="btn btn-success">{{btn.text}} <i class="icon-plus icon-white"></i></button></a>
                  </div>
                  <div class="btn-group pull-right">
                     <button data-toggle="dropdown" class="btn dropdown-toggle">操作 <span class="caret"></span></button>
                     <ul class="dropdown-menu">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Export to Excel</a></li>
                     </ul>
                  </div>
               </div>
                
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                            <th ng-repeat="item in formStruct.tableHeader">{{item.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="{{$index%2?odd:even}} gradeX" ng-repeat="item in formData.items">
                            <td ng-repeat="head in formData.tableHeader">{{item[head]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>